// Place all the styles related to the servos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center-table
{
  margin: 0 auto !important;
  float: none !important;
}

.center {
  width: 100px;
  margin: auto;
  padding-bottom: 50px;
}

.container {
  padding-top: 50px;
  width: 800px;
}

//#interface {
// background: transparent;
// border: 1px solid #ccc;
// border-radius: 4px;
// box-sizing: content-box;
// box-shadow: none;
// height: 30px;
// width: 50px;
// font-size: 14px;
// padding: 3px 12px;
// line-height: 1;
// -webkit-appearance: none;
// text-align: center;
//}
//
//#interface:hover {
//  background: #f8f8f8;
//}